
.table-css {
  font-family: Lato, sans-serif;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  box-shadow: 20px 20px 20px 5px #333333;
  background-color: white;
  text-align: center;
}

table th {
  background-color: #333333;
  color: #ffffff;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 900;
}

table td {
  padding: 1rem 2rem;
}

table tr:nth-child(even) {
  background-color: #666666;
}
